.wrapper,main {
	position:relative
}
* {
	font-weight:400
}
:link,:visited {
	text-decoration:none;
	color:inherit
}
ol,ul {
	list-style:none
}
code,h1,h2,h3,h4,h5,h6,pre {
	font-size:1em
}
blockquote,body,fieldset,form,h1,h2,h3,h4,h5,h6,html,input,li,ol,p,pre,ul {
	margin:0;
	padding:0
}
:link img,:visited img,a img {
	border:none
}
address {
	font-style:normal
}
input,select,textarea {
	border-radius:0
}
input:active,input:focus,select:focus,textarea:focus {
	outline:0
}
select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none
}
div,input,label {
	-webkit-tap-highlight-color:transparent
}
@font-face {
	font-family:Lato;
	src:url(../fonts/LatoRegular.eot);
	src:url(../fonts/LatoRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoRegular.woff) format("woff"),url(../fonts/LatoRegular.ttf) format("truetype");
	font-style:normal;
	font-weight:400
}
@font-face {
	font-family:Lato;
	src:url(../fonts/LatoBold.eot);
	src:url(../fonts/LatoBold.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoBold.woff) format("woff"),url(../fonts/LatoBold.ttf) format("truetype");
	font-style:normal;
	font-weight:700
}
@font-face {
	font-family:Lato;
	src:url(../fonts/LatoItalic.eot);
	src:url(../fonts/LatoItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoItalic.woff) format("woff"),url(../fonts/LatoItalic.ttf) format("truetype");
	font-style:italic;
	font-weight:400
}
@font-face {
	font-family:Lato;
	src:url(../fonts/LatoLight.eot);
	src:url(../fonts/LatoLight.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoLight.woff) format("woff"),url(../fonts/LatoLight.ttf) format("truetype");
	font-style:normal;
	font-weight:300
}
@font-face {
	font-family:Lato;
	src:url(../fonts/LatoBoldItalic.eot);
	src:url(../fonts/LatoBoldItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoBoldItalic.woff) format("woff"),url(../fonts/LatoBoldItalic.ttf) format("truetype");
	font-style:italic;
	font-weight:700
}
@font-face {
	font-family:Lato;
	src:url(../fonts/LatoLightItalic.eot);
	src:url(../fonts/LatoLightItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoLightItalic.woff) format("woff"),url(../fonts/LatoLightItalic.ttf) format("truetype");
	font-style:italic;
	font-weight:300
}
	@-webkit-keyframes formboat {
		0% {
		-webkit-transform:translate(0,0);
		transform:translate(0,0)
	}
	100% {
		-webkit-transform:translate(-1720px,1200px);
		transform:translate(-1720px,1200px)
	}
	}@keyframes formboat {
		0% {
		-webkit-transform:translate(0,0);
		transform:translate(0,0)
	}
	100% {
		-webkit-transform:translate(-1720px,1200px);
		transform:translate(-1720px,1200px)
	}
	}@-webkit-keyframes cartoleft {
		0% {
		-webkit-transform:translate(160px,-20px);
		transform:translate(160px,-20px)
	}
	100% {
		-webkit-transform:translate(-490px,356px);
		transform:translate(-490px,356px)
	}
	}@keyframes cartoleft {
		0% {
		-webkit-transform:translate(160px,-20px);
		transform:translate(160px,-20px)
	}
	100% {
		-webkit-transform:translate(-490px,356px);
		transform:translate(-490px,356px)
	}
	}@-webkit-keyframes cartoleft2 {
		0% {
		-webkit-transform:translate(186px,-20px);
		transform:translate(186px,-20px)
	}
	100% {
		-webkit-transform:translate(-464px,356px);
		transform:translate(-464px,356px)
	}
	}@keyframes cartoleft2 {
		0% {
		-webkit-transform:translate(186px,-20px);
		transform:translate(186px,-20px)
	}
	100% {
		-webkit-transform:translate(-464px,356px);
		transform:translate(-464px,356px)
	}
	}@-webkit-keyframes cartotop {
		0% {
		-webkit-transform:translate(-430px,356px);
		transform:translate(-430px,356px)
	}
	100% {
		-webkit-transform:translate(220px,-20px);
		transform:translate(220px,-20px)
	}
	}@keyframes cartotop {
		0% {
		-webkit-transform:translate(-430px,356px);
		transform:translate(-430px,356px)
	}
	100% {
		-webkit-transform:translate(220px,-20px);
		transform:translate(220px,-20px)
	}
	}@-webkit-keyframes trucks {
		0% {
		-webkit-transform:translate(0,0);
		transform:translate(0,0)
	}
	100% {
		-webkit-transform:translate(-1300px,752px);
		transform:translate(-1300px,752px)
	}
	}@keyframes trucks {
		0% {
		-webkit-transform:translate(0,0);
		transform:translate(0,0)
	}
	100% {
		-webkit-transform:translate(-1300px,752px);
		transform:translate(-1300px,752px)
	}
	}@-webkit-keyframes firstboat {
		0% {
		-webkit-transform:translate(1146px,-444px);
		transform:translate(1146px,-444px)
	}
	40%,60% {
		-webkit-transform:translate(-249px,351px);
		transform:translate(-249px,351px)
	}
	100% {
		-webkit-transform:translate(-1644px,1146px);
		transform:translate(-1644px,1146px)
	}
	}@keyframes firstboat {
		0% {
		-webkit-transform:translate(1146px,-444px);
		transform:translate(1146px,-444px)
	}
	40%,60% {
		-webkit-transform:translate(-249px,351px);
		transform:translate(-249px,351px)
	}
	100% {
		-webkit-transform:translate(-1644px,1146px);
		transform:translate(-1644px,1146px)
	}
	}@-webkit-keyframes firstboatm {
		0% {
		-webkit-transform:translate(842px,-146px);
		transform:translate(842px,-146px)
	}
	40%,60% {
		-webkit-transform:translate(5px,331px);
		transform:translate(5px,331px)
	}
	100% {
		-webkit-transform:translate(-832px,808px);
		transform:translate(-832px,808px)
	}
	}@keyframes firstboatm {
		0% {
		-webkit-transform:translate(842px,-146px);
		transform:translate(842px,-146px)
	}
	40%,60% {
		-webkit-transform:translate(5px,331px);
		transform:translate(5px,331px)
	}
	100% {
		-webkit-transform:translate(-832px,808px);
		transform:translate(-832px,808px)
	}
	}@-webkit-keyframes firstboats {
		0% {
		-webkit-transform:translate(842px,-106px);
		transform:translate(842px,-106px)
	}
	40%,60% {
		-webkit-transform:translate(284px,212px);
		transform:translate(284px,212px)
	}
	100% {
		-webkit-transform:translate(-274px,530px);
		transform:translate(-274px,530px)
	}
	}@keyframes firstboats {
		0% {
		-webkit-transform:translate(842px,-106px);
		transform:translate(842px,-106px)
	}
	40%,60% {
		-webkit-transform:translate(284px,212px);
		transform:translate(284px,212px)
	}
	100% {
		-webkit-transform:translate(-274px,530px);
		transform:translate(-274px,530px)
	}
	}@-webkit-keyframes boat404 {
		0% {
		-webkit-transform:translate(3020px,-1515px);
		transform:translate(3020px,-1515px)
	}
	100% {
		-webkit-transform:translate(230px,75px);
		transform:translate(230px,75px)
	}
	}@keyframes boat404 {
		0% {
		-webkit-transform:translate(3020px,-1515px);
		transform:translate(3020px,-1515px)
	}
	100% {
		-webkit-transform:translate(230px,75px);
		transform:translate(230px,75px)
	}
	}@-webkit-keyframes crane1 {
		0% {
		-webkit-transform:translate(-38.4px,253.6px);
		transform:translate(-38.4px,253.6px)
	}
	49% {
		-webkit-transform:translate(-345px,430px);
		transform:translate(-345px,430px)
	}
	100%,90% {
		-webkit-transform:translate(-89.5px,283px);
		transform:translate(-89.5px,283px)
	}
	}@keyframes crane1 {
		0% {
		-webkit-transform:translate(-38.4px,253.6px);
		transform:translate(-38.4px,253.6px)
	}
	49% {
		-webkit-transform:translate(-345px,430px);
		transform:translate(-345px,430px)
	}
	100%,90% {
		-webkit-transform:translate(-89.5px,283px);
		transform:translate(-89.5px,283px)
	}
	}@-webkit-keyframes crane2 {
		0% {
		-webkit-transform:translate(217.1px,106.6px);
		transform:translate(217.1px,106.6px)
	}
	36% {
		-webkit-transform:translate(421.5px,-11px);
		transform:translate(421.5px,-11px)
	}
	100%,90% {
		-webkit-transform:translate(114.9px,165.4px);
		transform:translate(114.9px,165.4px)
	}
	}@keyframes crane2 {
		0% {
		-webkit-transform:translate(217.1px,106.6px);
		transform:translate(217.1px,106.6px)
	}
	36% {
		-webkit-transform:translate(421.5px,-11px);
		transform:translate(421.5px,-11px)
	}
	100%,90% {
		-webkit-transform:translate(114.9px,165.4px);
		transform:translate(114.9px,165.4px)
	}
	}@-webkit-keyframes crane1m {
		0% {
		-webkit-transform:translate(-140.6px,42.4px);
		transform:translate(-140.6px,42.4px)
	}
	49% {
		-webkit-transform:translate(-324.56px,148.24px);
		transform:translate(-324.56px,148.24px)
	}
	100%,90% {
		-webkit-transform:translate(-171.26px,60.04px);
		transform:translate(-171.26px,60.04px)
	}
	}@keyframes crane1m {
		0% {
		-webkit-transform:translate(-140.6px,42.4px);
		transform:translate(-140.6px,42.4px)
	}
	49% {
		-webkit-transform:translate(-324.56px,148.24px);
		transform:translate(-324.56px,148.24px)
	}
	100%,90% {
		-webkit-transform:translate(-171.26px,60.04px);
		transform:translate(-171.26px,60.04px)
	}
	}@-webkit-keyframes crane2m {
		0% {
		-webkit-transform:translate(-7.74px,-34.04px);
		transform:translate(-7.74px,-34.04px)
	}
	36% {
		-webkit-transform:translate(114.9px,-104.6px);
		transform:translate(114.9px,-104.6px)
	}
	100%,90% {
		-webkit-transform:translate(-69.06px,1.24px);
		transform:translate(-69.06px,1.24px)
	}
	}@keyframes crane2m {
		0% {
		-webkit-transform:translate(-7.74px,-34.04px);
		transform:translate(-7.74px,-34.04px)
	}
	36% {
		-webkit-transform:translate(114.9px,-104.6px);
		transform:translate(114.9px,-104.6px)
	}
	100%,90% {
		-webkit-transform:translate(-69.06px,1.24px);
		transform:translate(-69.06px,1.24px)
	}
	}@-webkit-keyframes crane1s {
		0% {
		-webkit-transform:translate(-201.92px,-38.32px);
		transform:translate(-201.92px,-38.32px)
	}
	49% {
		-webkit-transform:translate(-324.56px,32.24px);
		transform:translate(-324.56px,32.24px)
	}
	100%,90% {
		-webkit-transform:translate(-222.36px,-26.56px);
		transform:translate(-222.36px,-26.56px)
	}
	}@keyframes crane1s {
		0% {
		-webkit-transform:translate(-201.92px,-38.32px);
		transform:translate(-201.92px,-38.32px)
	}
	49% {
		-webkit-transform:translate(-324.56px,32.24px);
		transform:translate(-324.56px,32.24px)
	}
	100%,90% {
		-webkit-transform:translate(-222.36px,-26.56px);
		transform:translate(-222.36px,-26.56px)
	}
	}@-webkit-keyframes crane2s {
		0% {
		-webkit-transform:translate(-120.16px,-85.36px);
		transform:translate(-120.16px,-85.36px)
	}
	36% {
		-webkit-transform:translate(-38.4px,-132.4px);
		transform:translate(-38.4px,-132.4px)
	}
	100%,90% {
		-webkit-transform:translate(-161.04px,-61.84px);
		transform:translate(-161.04px,-61.84px)
	}
	}@keyframes crane2s {
		0% {
		-webkit-transform:translate(-120.16px,-85.36px);
		transform:translate(-120.16px,-85.36px)
	}
	36% {
		-webkit-transform:translate(-38.4px,-132.4px);
		transform:translate(-38.4px,-132.4px)
	}
	100%,90% {
		-webkit-transform:translate(-161.04px,-61.84px);
		transform:translate(-161.04px,-61.84px)
	}
}.l {
	float:left
}
.r {
	float:right
}
.uc {
	text-transform:uppercase
}
.wrapper {
	margin:0 auto;
	width:1144px;
	left:0;
	right:0
}
main {
	min-width:1144px
}
body,input,textarea {
	font-family:Lato,Arial,Verdana sans-serif
}
input[type=submit] {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none
}
.f,.m,.s {
	display:none
}
	input[type=text]::-webkit-input-placeholder {
		font-style:normal;
		font-family:Lato,Arial,Verdana sans-serif;
		font-size:20px;
		color:#fefefe
	}
	input[type=text]::-moz-placeholder {
		font-style:normal;
		font-family:Lato,Arial,Verdana sans-serif;
		font-size:20px;
		color:#fefefe
	}
	input[type=text]:-moz-placeholder {
		font-style:normal;
		font-family:Lato,Arial,Verdana sans-serif;
		font-size:20px;
		color:#fefefe
	}
	input[type=text]:-ms-input-placeholder {
		font-style:normal;
		font-family:Lato,Arial,Verdana sans-serif;
		font-size:20px;
		color:#fefefe
	}
	textarea::-webkit-input-placeholder {
		font-style:normal;
		font-family:Lato,Arial,Verdana sans-serif;
		font-size:20px;
		color:#fefefe
	}
	textarea::-moz-placeholder {
		font-style:normal;
		font-family:Lato,Arial,Verdana sans-serif;
		font-size:20px;
		color:#fefefe
	}
	textarea:-moz-placeholder {
		font-style:normal;
		font-family:Lato,Arial,Verdana sans-serif;
		font-size:20px;
		color:#fefefe
	}
	textarea:-ms-input-placeholder {
		font-style:normal;
		font-family:Lato,Arial,Verdana sans-serif;
		font-size:20px;
		color:#fefefe
	}
	textarea:focus::-webkit-input-placeholder {
		color:#fefefe
	}
	textarea:focus::-moz-placeholder {
		color:#fefefe
	}
	textarea:focus:-moz-placeholder {
		color:#fefefe
	}
	textarea:focus:-ms-input-placeholder {
		color:#fefefe
	}
	input[type=text]:focus::-webkit-input-placeholder {
		color:#fefefe
	}
	input[type=text]:focus::-moz-placeholder {
		color:#fefefe
	}
	input[type=text]:focus:-moz-placeholder {
		color:#fefefe
	}
	input[type=text]:focus:-ms-input-placeholder {
		color:#fefefe
	}
	input[type=text].tel::-webkit-input-placeholder {
		font-style:normal
	}
	input[type=text].tel::-moz-placeholder {
		font-style:normal
	}
	input[type=text].tel:-moz-placeholder {
		font-style:normal
	}
	input[type=text].tel:-ms-input-placeholder {
		font-style:normal
	}
@media all and (orientation:landscape) and (max-width:767px) {
	.fullmenu .wrapper,header .wrapper {
	width:500px
}
.fullmenu ul {
	padding-top:80px!important;
	width:500px
}
.fullmenu ul li {
	width:250px;
	box-sizing:border-box;
	padding-left:20px;
	float:left
}
.fullmenu ul li:active {
	color:#26a65b
}
.fullmenu .call {
	width:500px;
	padding-top:20px!important
}
.fullmenu .call div {
	width:250px;
	margin-left:20px;
	float:left
}
.fullmenu .call div.tel {
	margin-top:27px
}
@media (max-width:767px) {
	footer,header {
	overflow:hidden;
	min-width:320px
}
.popup>div .agreetosend::after,.popup>div .agreetosend::before {
	content:'';
	display:block;
	position:absolute
}
footer,header,main {
	min-width:320px
}
.s {
	display:block
}
.wrapper {
	width:280px
}
header.small {
	padding-top:7px;
	height:35px
}
header {
	-webkit-transition:.5s height ease,.5s padding-top ease;
	transition:.5s height ease,.5s padding-top ease;
	position:fixed;
	background:#fff;
	z-index:211;
	top:0;
	left:0;
	right:0;
	margin:0 auto;
	padding-top:14px;
	color:#6e6471;
	height:42px
}
header .logo {
	padding-left:4px;
	width:175px;
	font-size:9px;
	letter-spacing:.8px
}
header .logo img {
	height:10px;
	margin-left:-4px;
	width:131px;
	margin-bottom:7px
}
header nav .menu {
	padding-left:20px;
	width:74px;
	float:right;
	font-size:14px;
	letter-spacing:1px;
	cursor:pointer;
	-webkit-transition:color .2s ease;
	transition:color .2s ease
}
header nav .menu .hamburger {
	width:15px;
	float:left;
	margin-right:8px;
	margin-top:3px;
	position:relative;
	height:10px
}
header nav .menu .hamburger div {
	position:absolute;
	height:2px;
	width:15px;
	left:0;
	background:#26a65b;
	border-radius:0;
	-webkit-transition:.2s ease;
	transition:.2s ease;
	z-index:-1
}
header nav .menu .hamburger div:nth-child(1) {
	top:0
}
header nav .menu .hamburger div:nth-child(2) {
	top:4px
}
header nav .menu .hamburger div:nth-child(3) {
	top:8px
}
header nav .menu.open {
	color:#fff
}
header nav .menu.open .hamburger div {
	top:-5px;
	left:11px;
	width:74px;
	height:20px;
	border-radius:3px
}
.fullmenu,.popup {
	position:fixed;
	top:0
}
.fullmenu.open {
	display:block
}
.fullmenu,.popup,.popup>div input[type=checkbox] {
	display:none
}
.fullmenu {
	z-index:210;
	width:100%;
	height:100%;
	background:#fff;
	left:0
}
.fullmenu ul {
	padding-top:100px;
	padding-left:2px
}
.fullmenu ul li {
	height:50px;
	font-size:25px;
	letter-spacing:2px
}
.fullmenu .call {
	margin-top:82px
}
.fullmenu .call .tel {
	font-size:20px;
	letter-spacing:2px;
	font-weight:700
}
.fullmenu .call .backcall {
	width:197px;
	height:36px;
	border:1px solid #26a65b;
	line-height:39px;
	text-align:center;
	border-radius:3px;
	margin-top:19px;
	margin-left:4px;
	color:#26a65b;
	font-size:20px;
	cursor:pointer
}
.fullmenu .call .backcall:hover {
	background:#26a65b;
	color:#fefefe
}
.popup {
	height:100%;
	width:100%;
	z-index:999;
	left:0;
	background:#fff
}
.popup input[type=text]::-webkit-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup input[type=text]::-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup input[type=text]:-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup input[type=text]:-ms-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea::-webkit-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea::-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea:-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea:-ms-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea:focus::-webkit-input-placeholder {
	color:#26a65b
}
.popup textarea:focus::-moz-placeholder {
	color:#26a65b
}
.popup textarea:focus:-moz-placeholder {
	color:#26a65b
}
.popup textarea:focus:-ms-input-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus::-webkit-input-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus::-moz-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus:-moz-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus:-ms-input-placeholder {
	color:#26a65b
}
.popup input[type=text].tel::-webkit-input-placeholder {
	font-style:normal
}
.popup input[type=text].tel::-moz-placeholder {
	font-style:normal
}
.popup input[type=text].tel:-moz-placeholder {
	font-style:normal
}
.popup input[type=text].tel:-ms-input-placeholder {
	font-style:normal
}
.popup>div {
	margin:0 auto;
	width:320px;
	height:100%;
	box-sizing:border-box;
	padding:53px;
	position:relative;
	overflow:scroll
}
.popup>div input[type=text].empty,.popup>div input[type=text].error,.popup>div textarea.empty,.popup>div textarea.error {
	border-color:#f89090;
	color:#f89090
}
.popup>div h3 {
	font-size:20px;
	letter-spacing:3px;
	font-weight:700;
	color:#26a65b;
	line-height:30px;
	text-align:center;
	margin-bottom:26px
}
.popup>div input[type=text] {
	width:195px;
	clear:both;
	height:34px;
	padding-top:8px;
	font-size:14px;
	float:left;
	margin:0 auto 21px;
	border:1px solid #ccc;
	border-radius:3px;
	padding-left:20px;
	background:0 0;
	color:#ccc
}
.popup>div textarea {
	clear:both;
	width:179px;
	height:103px;
	font-size:14px;
	padding-left:18px;
	padding-right:18px;
	padding-top:9px;
	margin:0 auto 9px;
	border-radius:3px;
	border:1px solid #ccc;
	resize:none
}
.popup>div input[type=text]:focus,.popup>div textarea:focus {
	color:#26a65b;
	border-color:#26a65b
}
.popup>div input[type=submit] {
	width:218px;
	height:43px;
	margin-top:23px;
	font-weight:700;
	text-align:center;
	color:#fefefe;
	letter-spacing:2px;
	font-size:16px;
	line-height:43px;
	left:0;
	right:0;
	cursor:pointer;
	margin-bottom:7px;
	border-radius:3px;
	border:0;
	background:#26a65b
}
.popup>div p {
	clear:both;
	text-align:center;
	color:#ccc;
	position:relative;
	font-size:10px;
	top:20px;
	z-index:-1
}
.popup>div input[type=submit]:hover {
	background:#1e8549
}
.popup>div input[type=checkbox]:checked+.agreetosend::after {
	opacity:1
}
.popup>div input[type=checkbox].empty+.agreetosend::before,.popup>div input[type=checkbox].error+.agreetosend::before {
	border-color:#fc5454
}
.popup>div .agreetosend {
	color:#26a65b;
	display:block;
	font-size:13px;
	line-height:24px;
	margin-left:13px;
	padding-left:13px;
	cursor:pointer;
	padding-top:23px;
	position:relative;
	clear:both
}
.popup>div .agreetosend::before {
	left:-13px;
	top:23px;
	cursor:pointer;
	width:20px;
	height:20px;
	box-sizing:border-box;
	border-radius:2px;
	border:1px solid #26a65b
}
.popup>div .agreetosend::after {
	left:-9px;
	top:29px;
	opacity:0;
	width:13px;
	height:8px;
	background:url(../images/agreegreen.svg) 50% 50%/13px auto no-repeat
}
.popup .close {
	position:absolute;
	top:14px;
	right:21px;
	width:28px;
	height:28px;
	border-radius:50%;
	background:url(../images/cross.svg) 50% 50% no-repeat #26a65b;
	background-size:12px auto;
	-webkit-transition:.3s -webkit-transform ease,.3s background ease;
	transition:.3s transform ease,.3s background ease;
	-webkit-transform:rotate(0);
	transform:rotate(0);
	cursor:pointer
}
.popup .close:hover {
	background:url(../images/cross.svg) 50% 50% no-repeat #1e8549;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	background-size:12px auto
}
footer {
	height:502px;
	z-index:-1;
	color:#6e6471
}
footer .row0,footer .row1,footer .row2 {
	position:relative;
	z-index:200
}
footer .row0 {
	padding-top:53px
}
footer .row0 .logo {
	width:210px;
	margin-left:3px;
	font-size:10px;
	letter-spacing:1px
}
footer .row0 .logo img {
	margin-top:2px;
	height:17px;
	width:223px;
	margin-bottom:9px
}
footer .row1 {
	clear:both
}
footer .row1 .call {
	float:left;
	margin-top:43px;
	width:170px
}
footer .row1 .call .tel {
	font-weight:700;
	font-size:18px;
	line-height:32px
}
footer .row1 .call .tel:hover {
	color:#26a65b
}
footer .row1 .call .backcall {
	margin-left:1px;
	margin-top:23px;
	font-weight:700;
	font-size:15px;
	width:150px;
	height:27px;
	border:1px solid #26a65b;
	color:#26a65b;
	line-height:27px;
	text-align:center;
	border-radius:3px;
	cursor:pointer
}
footer .row1 .call .backcall:hover {
	background:#26a65b;
	color:#fefefe
}
footer .row1 nav ul {
	margin-left:-48px;
	margin-top:50px;
	float:left;
	width:366px
}
footer .row1 nav ul li {
	width:131px;
	padding-bottom:6px;
	font-size:16px;
	letter-spacing:1px;
	float:left;
	font-weight:700;
	margin-left:50px;
	height:50px
}
footer .row1 nav ul li:hover {
	color:#26a65b
}
footer .row2 {
	padding-top:19px;
	clear:both
}
footer .row2 .copy {
	margin-top:8px;
	letter-spacing:2px;
	font-size:15px
}
footer .row2 .madein {
	margin-top:4px;
	margin-bottom:12px;
	font-weight:700;
	font-size:18px
}
footer .row2 .madein span {
	color:#26a65b;
	font-weight:700
}
}@media (min-width:768px) and (max-width:1143px) {
	footer,header {
	overflow:hidden;
	min-width:768px
}
footer,header,main {
	min-width:768px
}
.popup,header {
	position:fixed;
	top:0;
	left:0
}
.m {
	display:block
}
.popup,.popup>div input[type=checkbox] {
	display:none
}
.wrapper {
	width:660px
}
header.small {
	padding-top:7px;
	height:48px
}
header {
	-webkit-transition:.5s height ease,.5s padding-top ease;
	transition:.5s height ease,.5s padding-top ease;
	background:#fff;
	z-index:200;
	right:0;
	margin:0 auto;
	padding-top:14px;
	color:#6e6471;
	height:52px
}
header .logo {
	width:175px;
	font-size:8px;
	letter-spacing:.8px
}
header .logo img {
	margin-top:5px;
	height:13px;
	width:171px;
	margin-bottom:7px
}
header nav ul {
	margin-left:23px;
	float:left;
	width:320px
}
header nav ul li {
	padding:4px 13px;
	font-size:10px;
	letter-spacing:1px;
	float:left;
	font-weight:700;
	height:50px
}
header nav ul li:hover {
	color:#26a65b
}
header .call {
	margin-top:4px
}
header .call .tel {
	font-size:11px;
	font-weight:700
}
header .call .backcall {
	width:91px;
	height:15px;
	border:1px solid #26a65b;
	line-height:16px;
	text-align:center;
	border-radius:3px;
	margin-top:5px;
	color:#26a65b;
	font-size:9px;
	cursor:pointer
}
header .call .backcall:hover {
	background:#26a65b;
	color:#fefefe
}
.popup {
	width:100%;
	height:100%;
	z-index:999;
	background:rgba(0,0,0,.4)
}
.popup input[type=text]::-webkit-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup input[type=text]::-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup input[type=text]:-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup input[type=text]:-ms-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea::-webkit-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea::-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea:-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea:-ms-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:14px;
	color:#ccc
}
.popup textarea:focus::-webkit-input-placeholder {
	color:#26a65b
}
.popup textarea:focus::-moz-placeholder {
	color:#26a65b
}
.popup textarea:focus:-moz-placeholder {
	color:#26a65b
}
.popup textarea:focus:-ms-input-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus::-webkit-input-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus::-moz-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus:-moz-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus:-ms-input-placeholder {
	color:#26a65b
}
.popup input[type=text].tel::-webkit-input-placeholder {
	font-style:normal
}
.popup input[type=text].tel::-moz-placeholder {
	font-style:normal
}
.popup input[type=text].tel:-moz-placeholder {
	font-style:normal
}
.popup input[type=text].tel:-ms-input-placeholder {
	font-style:normal
}
.popup>div {
	position:absolute;
	background:#fff;
	left:50%;
	top:50%;
	box-sizing:border-box
}
.popup>div input[type=text].empty,.popup>div input[type=text].error,.popup>div textarea.empty,.popup>div textarea.error {
	border-color:#f89090;
	color:#f89090
}
.popup>div .close {
	position:absolute;
	top:-34px;
	right:-34px;
	width:34px;
	height:34px;
	border-radius:50%;
	background:url(../images/cross.svg) 50% 50% no-repeat #26a65b;
	background-size:14px auto;
	-webkit-transition:.3s -webkit-transform ease,.3s background ease;
	transition:.3s transform ease,.3s background ease;
	-webkit-transform:rotate(0);
	transform:rotate(0);
	cursor:pointer
}
.popup>div .close:hover {
	background:url(../images/cross.svg) 50% 50% no-repeat #1e8549;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	background-size:14px auto
}
.popup>div h3 {
	font-size:20px;
	letter-spacing:3px;
	font-weight:700;
	color:#26a65b;
	text-align:center;
	margin-bottom:26px
}
.popup>div form {
	margin:0 -11px
}
.popup>div input[type=text] {
	width:160px;
	height:26px;
	padding-top:8px;
	font-size:14px;
	float:left;
	margin:0 7px 21px;
	border:1px solid #ccc;
	border-radius:3px;
	padding-left:20px;
	background:0 0;
	color:#ccc
}
.popup>div textarea {
	width:537px;
	font-size:14px;
	padding-left:18px;
	padding-right:18px;
	padding-top:9px;
	height:22px;
	margin-left:8px;
	margin-bottom:19px;
	border-radius:3px;
	border:1px solid #ccc;
	resize:none
}
.popup>div input[type=text]:focus,.popup>div textarea:focus {
	color:#26a65b;
	border-color:#26a65b
}
.popup>div input[type=submit] {
	width:182px;
	height:36px;
	font-weight:700;
	text-align:center;
	color:#fefefe;
	letter-spacing:1px;
	font-size:14px;
	line-height:38px;
	margin-left:204px;
	cursor:pointer;
	margin-bottom:17px;
	border-radius:3px;
	border:0;
	background:#26a65b
}
.popup>div p {
	text-align:center;
	color:#ccc;
	font-size:10px
}
.popup>div input[type=submit]:hover {
	background:#1e8549
}
.popup>div input[type=checkbox]:checked+.agreetosend::after {
	opacity:1
}
.popup>div input[type=checkbox].empty+.agreetosend::before,.popup>div input[type=checkbox].error+.agreetosend::before {
	border-color:#fc5454
}
.popup>div .agreetosend {
	color:#26a65b;
	display:block;
	font-size:13px;
	line-height:24px;
	margin-left:13px;
	padding-top:0;
	padding-left:40px;
	cursor:pointer;
	position:relative;
	clear:both
}
.popup>div .agreetosend::after,.popup>div .agreetosend::before {
	position:absolute;
	content:'';
	display:block
}
.popup>div .agreetosend::before {
	left:0;
	top:8px;
	cursor:pointer;
	width:20px;
	height:20px;
	box-sizing:border-box;
	border-radius:2px;
	border:1px solid #26a65b
}
.popup>div .agreetosend::after {
	left:4px;
	top:14px;
	opacity:0;
	width:13px;
	height:8px;
	background:url(../images/agreegreen.svg) 50% 50%/13px auto no-repeat
}
.popup .backcallpop {
	width:359px;
	height:379px;
	margin-left:-180px;
	margin-top:-155px;
	padding:40px 50px 0
}
.popup .backcallpop h3 {
	margin-bottom:23px
}
.popup .backcallpop input[type=text] {
	margin-left:46px;
	margin-bottom:19px
}
.popup .backcallpop input[type=submit] {
	margin-left:47px;
	margin-top:11px
}
.popup .sendrequest {
	margin-left:-330px;
	margin-top:-152px;
	width:660px;
	height:333px;
	padding:38px 46px 0
}
.popup .sendrequest input[type=text] {
	float:left
}
.popup .sendrequest textarea {
	clear:both
}
footer {
	height:502px;
	z-index:-1;
	color:#6e6471
}
footer .row0,footer .row1,footer .row2 {
	position:relative;
	z-index:200
}
footer .row0 {
	padding-top:108px
}
footer .row0 .logo {
	width:300px;
	margin-left:1px;
	font-size:14px;
	letter-spacing:.8px
}
footer .row0 .logo img {
	margin-top:2px;
	height:22px;
	width:289px;
	margin-bottom:13px
}
footer .row1 {
	clear:both
}
footer .row1 .call {
	float:left;
	margin-top:87px;
	width:170px
}
footer .row1 .call .tel {
	font-weight:700;
	font-size:18px;
	line-height:32px
}
footer .row1 .call .tel:hover {
	color:#26a65b
}
footer .row1 .call .backcall {
	margin-left:1px;
	margin-top:23px;
	font-weight:700;
	font-size:15px;
	width:150px;
	height:27px;
	border:1px solid #26a65b;
	color:#26a65b;
	line-height:27px;
	text-align:center;
	border-radius:3px;
	cursor:pointer
}
footer .row1 .call .backcall:hover {
	background:#26a65b;
	color:#fefefe
}
footer .row1 nav ul {
	margin-left:184px;
	margin-top:95px;
	float:left;
	width:306px
}
footer .row1 nav ul li {
	width:101px;
	padding-bottom:6px;
	font-size:16px;
	letter-spacing:1px;
	float:left;
	font-weight:700;
	margin-left:50px;
	height:50px
}
footer .row1 nav ul li:hover {
	color:#26a65b
}
footer .row2 {
	padding-top:19px;
	clear:both
}
footer .row2 .copy {
	margin-top:8px;
	letter-spacing:2px;
	font-size:15px
}
footer .row2 .madein {
	margin-top:8px;
	font-weight:700;
	font-size:18px
}
footer .row2 .madein span {
	color:#26a65b;
	font-weight:700
}
}@media (min-width:1144px) {
	footer,header {
	overflow:hidden;
	min-width:1144px
}
.popup,header {
	position:fixed;
	top:0;
	left:0
}
.f {
	display:block
}
.popup,.popup>div input[type=checkbox] {
	display:none
}
header.small {
	padding-top:14px;
	height:75px
}
header {
	-webkit-transition:.5s height ease,.5s padding-top ease;
	transition:.5s height ease,.5s padding-top ease;
	background:#fff;
	z-index:200;
	right:0;
	margin:0 auto;
	padding-top:28px;
	color:#6e6471;
	height:83px
}
header .logo {
	width:300px;
	font-size:14px;
	letter-spacing:.8px
}
header .logo img {
	margin-top:5px;
	width:289px;
	height:22px;
	margin-bottom:13px
}
header nav ul {
	margin-left:23px;
	float:left;
	width:580px
}
header nav ul li {
	padding:3px 31px;
	font-size:16px;
	letter-spacing:1px;
	float:left;
	font-weight:700;
	height:50px
}
.popup>div h3,.popup>div input[type=submit] {
	letter-spacing:2px;
	text-align:center;
	font-weight:700
}
header nav ul li:hover {
	color:#26a65b
}
header .call {
	margin-top:2px
}
header .call .tel {
	font-size:18px;
	font-weight:700
}
header .call .backcall {
	width:150px;
	height:27px;
	border:1px solid #26a65b;
	line-height:27px;
	text-align:center;
	border-radius:3px;
	margin-top:8px;
	color:#26a65b;
	font-size:15px;
	cursor:pointer
}
header .call .backcall:hover {
	background:#26a65b;
	color:#fefefe
}
.popup {
	width:100%;
	height:100%;
	z-index:999;
	background:rgba(0,0,0,.4)
}
.popup input[type=text]::-webkit-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:20px;
	color:#ccc
}
.popup input[type=text]::-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:20px;
	color:#ccc
}
.popup input[type=text]:-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:20px;
	color:#ccc
}
.popup input[type=text]:-ms-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:20px;
	color:#ccc
}
.popup textarea::-webkit-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:20px;
	color:#ccc
}
.popup textarea::-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:20px;
	color:#ccc
}
.popup textarea:-moz-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:20px;
	color:#ccc
}
.popup textarea:-ms-input-placeholder {
	font-style:normal;
	font-family:Lato,Arial,Verdana sans-serif;
	font-size:20px;
	color:#ccc
}
.popup textarea:focus::-webkit-input-placeholder {
	color:#26a65b
}
.popup textarea:focus::-moz-placeholder {
	color:#26a65b
}
.popup textarea:focus:-moz-placeholder {
	color:#26a65b
}
.popup textarea:focus:-ms-input-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus::-webkit-input-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus::-moz-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus:-moz-placeholder {
	color:#26a65b
}
.popup input[type=text]:focus:-ms-input-placeholder {
	color:#26a65b
}
.popup input[type=text].tel::-webkit-input-placeholder {
	font-style:normal
}
.popup input[type=text].tel::-moz-placeholder {
	font-style:normal
}
.popup input[type=text].tel:-moz-placeholder {
	font-style:normal
}
.popup input[type=text].tel:-ms-input-placeholder {
	font-style:normal
}
.popup>div {
	position:absolute;
	background:#fff;
	left:50%;
	top:50%;
	box-sizing:border-box
}
.popup>div input[type=text].empty,.popup>div input[type=text].error,.popup>div textarea.empty,.popup>div textarea.error {
	border-color:#f89090;
	color:#f89090
}
.popup>div .close {
	position:absolute;
	top:-55px;
	right:-55px;
	width:48px;
	height:48px;
	border-radius:50%;
	background:url(../images/cross.svg) 50% 50% no-repeat #26a65b;
	background-size:20px auto;
	-webkit-transition:.3s -webkit-transform ease,.3s background ease;
	transition:.3s transform ease,.3s background ease;
	-webkit-transform:rotate(0);
	transform:rotate(0);
	cursor:pointer
}
.popup>div .close:hover {
	background:url(../images/cross.svg) 50% 50% no-repeat #1e8549;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	background-size:20px auto
}
.popup>div h3 {
	font-size:32px;
	color:#26a65b;
	margin-bottom:37px
}
.popup>div form {
	margin:0 -11px
}
.popup>div input[type=text] {
	width:237px;
	height:41px;
	padding-top:8px;
	font-size:20px;
	float:left;
	margin:0 11px 31px;
	border:1px solid #ccc;
	border-radius:3px;
	padding-left:20px;
	background:0 0;
	color:#ccc
}
.popup>div textarea {
	width:781px;
	font-size:20px;
	padding-left:18px;
	padding-right:18px;
	padding-top:15px;
	height:32px;
	margin-left:11px;
	margin-bottom:28px;
	border-radius:3px;
	border:1px solid #ccc;
	color:#ccc;
	resize:none
}
.popup>div input[type=text]:focus,.popup>div textarea:focus {
	color:#26a65b;
	border-color:#26a65b
}
.popup>div input[type=submit] {
	width:259px;
	height:51px;
	color:#fefefe;
	font-size:20px;
	line-height:58px;
	margin-left:293px;
	cursor:pointer;
	margin-bottom:25px;
	border-radius:3px;
	border:0;
	background:#26a65b
}
.popup>div p {
	text-align:center;
	color:#ccc;
	font-size:13px
}
.popup>div input[type=submit]:hover {
	background:#1e8549
}
.popup>div input[type=checkbox]:checked+.agreetosend::after {
	opacity:1
}
.popup>div input[type=checkbox].empty+.agreetosend::before,.popup>div input[type=checkbox].error+.agreetosend::before {
	border-color:#fc5454
}
.popup>div .agreetosend {
	color:#26a65b;
	display:block;
	font-size:13px;
	line-height:24px;
	margin-left:13px;
	padding-left:40px;
	cursor:pointer;
	position:relative;
	clear:both
}
.popup>div .agreetosend::after,.popup>div .agreetosend::before {
	position:absolute;
	content:'';
	display:block
}
.popup>div .agreetosend::before {
	left:0;
	top:0;
	cursor:pointer;
	width:20px;
	height:20px;
	box-sizing:border-box;
	border-radius:2px;
	border:1px solid #26a65b
}
.popup>div .agreetosend::after {
	left:4px;
	top:6px;
	opacity:0;
	width:13px;
	height:8px;
	background:url(../images/agreegreen.svg) 50% 50%/13px auto no-repeat
}
.popup .backcallpop {
	width:501px;
	height:462px;
	margin-left:-251px;
	margin-top:-216px;
	padding:50px 60px 0
}
.popup .backcallpop h3 {
	margin-bottom:34px
}
.popup .backcallpop input[type=text] {
	margin-left:70px;
	margin-bottom:25px
}
.popup .backcallpop input[type=submit] {
	margin-left:71px;
	margin-top:17px
}
.popup .sendrequest {
	margin-left:-471px;
	margin-top:-216px;
	width:942px;
	height:432px;
	padding:50px 60px 0
}
.popup .sendrequest input[type=text] {
	float:left
}
.popup .sendrequest textarea {
	clear:both
}
footer {
	height:451px;
	z-index:-1;
	color:#6e6471
}
footer .row1,footer .row2 {
	position:relative;
	z-index:200
}
footer .row1 nav ul li:hover,footer .row2 .call .tel:hover {
	color:#26a65b
}
footer .row1 {
	padding-top:117px
}
footer .row1 .logo {
	width:300px;
	margin-left:1px;
	font-size:14px;
	letter-spacing:.8px
}
footer .row1 .logo img {
	margin-top:2px;
	height:22px;
	width:289px;
	margin-bottom:13px
}
footer .row1 nav ul {
	margin-left:127px;
	margin-top:5px;
	float:left;
	width:320px
}
footer .row1 nav ul li {
	width:160px;
	padding-bottom:6px;
	font-size:16px;
	letter-spacing:1px;
	float:left;
	font-weight:700;
	height:50px
}
footer .row2 {
	padding-top:65px;
	clear:both
}
footer .row2 .copy {
	margin-top:8px;
	letter-spacing:2px;
	font-size:15px
}
footer .row2 .call {
	margin-left:228px;
	width:400px
}
footer .row2 .call .tel {
	float:left;
	font-weight:700;
	font-size:18px;
	line-height:32px
}
footer .row2 .call .backcall {
	margin-left:30px;
	margin-top:2px;
	float:left;
	font-weight:700;
	font-size:15px;
	width:150px;
	height:27px;
	border:1px solid #26a65b;
	color:#26a65b;
	line-height:27px;
	text-align:center;
	border-radius:3px;
	cursor:pointer
}
footer .row2 .call .backcall:hover {
	background:#26a65b;
	color:#fefefe
}
footer .row2 .madein {
	margin-top:8px;
	font-weight:700;
	font-size:18px
}
footer .row2 .madein span {
	color:#26a65b;
	font-weight:700
}
}.linktext {
	color:#26a65b
}
.zag {
	color:#26a65b;
	font-size:42px;
	font-weight:bold
}
.textsmall {
	margin-left:-150px
}
